.container {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* For Chrome, Safari, and Opera */
/* .container .slider .left input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 34px;
  height: 34px;
  background: red;
  accent-color: coral;
  border: 10px;
  border-color: #060ef6;
  cursor: pointer;
} */
/* For Firefox */
/* .container .slider .left input[type="range"]::-moz-range-thumb {
  width: 34px;
  height: 34px;
  background: red;
  border: 10px;
  border-color: #060ef6;
  cursor: pointer;
} */
/* For Chrome, Safari, and Opera */
.container .slider .Tright input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 34px;
  height: 34px;
  background: red;
  border:8px solid white;
  cursor: pointer;
}

/* For Firefox */
.container .slider .Tright input[type="range"]::-moz-range-thumb {
  width: 34px;
  height: 34px;
  background: red;
  cursor: pointer;
}

.slider {
  position: relative;
  width: -webkit-fill-available;
}

.slider__left-value {
  border: none;
}

.slider__Tright-value:before {
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 100%);
  width: 0;
  z-index: 1;
  box-sizing: border-box;
}
.slider__Tright-value:after {
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 100%);
  width: 0;
}
.slider__left-value,
.slider__Tright-value,
.slider__track {
  position: absolute;
}
.Tslider__range,
.slider__track {
  width: 100%;
  z-index: 1;
  border-radius: 3px;
  height: 8px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.23) inset;
}

.slider__track {
  width: 100%;
  z-index: 1;
}

.Tslider__range {
    z-index: 2;
    border-radius: 40px;
    background: var(
      --Gradient,
      linear-gradient(90deg, #e91e24 4.86%, #e91e24 99.91%)
    );
  }
.slider__left-value,
.slider__Tright-value {
  color: #060ef6;
  font-size: 12px;
  translate: calc(-50%);
}
.slider__Tright-value {
  border: none;
}
/* Removing the default appearance */
.thumbterm,
.thumbterm::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.thumbterm {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: -webkit-fill-available;
  outline: none;
}

/* For Chrome browsers */
.thumbterm::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumbterm::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.slider {
  position: relative;
}

.slider__left-value,
.Tslider__range,
.slider__Tright-value,
.slider__track {
  position: absolute;
}

.Tslider__range,
.slider__track {
  border-radius: 40px;
  height: 24px;
}

.slider__track {
  width: 100%;
  z-index: 1;
}

.Tslider__range {
  background-color: rgb(25, 118, 210);
  z-index: 2;
}
.slider__left-value,
.slider__Tright-value {
  color: rgb(25, 118, 210);
  background-color: white;
  font-size: 16px;
  margin-top: -46px;
  padding: 5px;
}

/* The toggle switch container */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide the default checkbox */
.toggle-switch input {
  display: none;
}

/* Removing the default appearance */
.thumbterm,
.thumbterm::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.thumb--left {
  z-index: 3;
  margin-top: 8px;
}

.thumb--Tright {
  z-index: 5;
  margin-top: 8px;
}

/* For Chrome browsers */
.thumbterm::-webkit-slider-thumb {
  background-color: rgb(25, 118, 210);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 6px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumbterm::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
